<% layout('layouts/app') %>
<h1 class="text-3xl font-bold text-center text-gray-900 mb-6">
  Edit Place <%= place.title %>
</h1>
<form
  action="/place/<%= place._id %>/update?_method=put"
  method="POST"
  class="max-w-2xl mx-auto p-6 bg-gray-800 rounded-lg shadow-lg mb-6"
  enctype="multipart/form-data"
>
  <div class="mb-4">
    <label for="title" class="block mb-2 text-sm font-medium text-gray-200"
      >Title:</label
    >
    <input
      type="text"
      id="title"
      name="place[title]"
      class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="Enter title"
      value="<%= place.title %>"
      required
    />
  </div>
  <div class="mb-4">
    <label for="location" class="block mb-2 text-sm font-medium text-gray-200"
      >Location:</label
    >
    <input
      type="text"
      id="location"
      name="place[location]"
      class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="Enter location"
      value="<%= place.location %>"
      required
    />
  </div>
  <div class="mb-4">
    <label for="price" class="block mb-2 text-sm font-medium text-gray-200"
      >Price:</label
    >
    <input
      type="text"
      id="price"
      name="place[price]"
      class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="Enter price"
      value="<%= place.price %>"
      required
    />
  </div>
  <div class="mb-4">
    <label for="image" class="block mb-2 text-sm font-medium text-gray-200"
      >Images :</label
    >
    <input
      class="block w-full text-sm rounded-lg cursor-pointer bg-gray-50 text-gray-400 focus:outline-none bg-gray-700 border-gray-600 placeholder-gray-400"
      name="image"
      id="images"
      type="file"
      accept="image/*"
      multiple
    />
  </div>
  <div class="mb-4">
    <label
      for="description"
      class="block mb-2 text-sm font-medium text-gray-200"
      >Description:</label
    >
    <textarea
      id="description"
      name="place[description]"
      rows="4"
      class="bg-gray-700 border border-gray-600 text-gray-200 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="Enter description"
      required
    >
<%= place.description %></textarea
    >
  </div>
  <div class="flex justify-end">
    <button
      type="submit"
      class="px-6 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500"
    >
      Submit
    </button>
  </div>
</form>
